.juego {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  background-color: #e69af5;
  padding: 20px 0;
  text-align: center;
  color: white;
  margin-bottom: 5%;
}

.footer {
  background-color: #e69af5;
  padding: 20px 0;
  text-align: center;
  color: white;
  margin-top: 5%;
  bottom: 0;
  left: 0;
  width: 100%;
}

.botonesRespuestas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
}

.botonesRespuestas button {
  min-width: 120px;
  /* ancho mínimo cómodo */
  padding: 12px 20px;
  /* agranda el botón visualmente */
  font-size: 1.1rem;
  border-radius: 8px;
}

.botonesRespuestas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*corregir*/
.chatBox {
  width: 100%;
  max-width: 600px;
  margin: 30px auto;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  height: 150px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/*
.mensaje {
  background-color: white;
  border-radius: 8px;
  padding: 8px 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
*/


